Package: com.yourname.minimaptweak
Name: Minimap Tweak
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Hiển thị minimap với player, monster, dungeon
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate